<% provide(:title, @title) %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <section class="user_info">
        <%= image_tag @user.image.url, class: "icon", alt: "icon-image" %>
        <h2>
          <%= link_to @user do %>
            <i class="far fa-user-circle"> <%= @user.name %></i>
          <% end %>
        </h2>
        <%= render 'shared/stat' %>
        <%# <span><b>Microposts:</b> <%= @user.microposts.count %>
      </section>
    </div>
    <div class="col-md-8">
      <h3 class="follow-title"><%= @title %></h3>
      <% if @users.any? %>
        <ul class="users follow">
          <%= render @users %>
        </ul>
        <%= paginate @users %>
      <% end %>
    </div>
  </div>
</div>