<div class="item-search">
  <h3><%= link_to item.title, item.url, class: "item-title" %></h3>
  <%= link_to (image_tag item.image_url), item.url, class: "item-imageurl" %>
  <%= link_to '楽天で確認する', item.url, class: "item-url" %><br />
  <p class="item-isbn">ISBN: <%= item.isbn %></p>
  <%= form_with url: posts_new_path, local: true do |f| %>
    <%= f.hidden_field :isbn, value: item.isbn, class: "hidden-isbn" %>
    <%= f.submit 'save' %>
  <% end %>
</div>
