<div class="container">
  <div class="row">
    <li class="mli micropost-<%= post.id %>">
    　<div class="content">
        <%= link_to (image_tag(post.image_url)), post.url, class: "item-image", alt: post.title %>
        <div class="text-content">
          <h4><%= post.title %></h4>
          <span class="user">投稿者: <%= link_to post.user.name, post.user %></span>
          <%= link_to '楽天で確認する', post.url, class: "item-url" %>
          <h5>ISBN: <%= post.isbn %></h5>
          <span class="timestamp">　
            <%= time_ago_in_words(post.created_at) %> 前に投稿　
            <% if current_user?(post.user) %>
              <%= link_to "削除", post, method: :delete,
                                  data: { confirm: "削除してもよろしいですか？" } %>
            <% end %>
          </span>
        </div>
      </div>
    </li>
  </div>
</div>
