<li class="mli">
　<div class="content">
    <div class="text-content">
      <%= link_to (image_tag(category.image_url)), category.url, class: "item-image", alt: category.title %>
      <h3><%= link_to category.title, post_path(category.id), class: "post-title" %></h3>
      <span class="user">投稿者: <%= link_to category.user.name, category.user %></span>
      <h4><%= link_to '楽天で確認する', category.url, class: "item-url" %></h4>
      <h4>ISBN: <%= category.isbn %></h4>
      <span class="timestamp">　
        <%= time_ago_in_words(category.created_at) %> 前に投稿　
        <% if current_user?(category.user) %>
          <%= link_to "削除", category, method: :delete,
                              data: { confirm: "削除してもよろしいですか？" } %>
        <% end %>
      </span>
    </div>
  </div>
</li>